version: 2.1

parameters:
  run-shared:
    type: boolean
    default: false
  run-cms:
    type: boolean
    default: false
  run-landing:
    type: boolean
    default: false
  run-app:
    type: boolean
    default: false
  run-docs:
    type: boolean
    default: false
  run-contracts:
    type: boolean
    default: false

jobs:
  deploy-cms:
    executor: node-large
    parameters:
      vercel-environment:
        type: enum
        default: preview
        enum: ["preview", "production"]
      vercel-project-id:
        type: string
      vercel-org-id:
        type: string
      vercel-token:
        type: string
    steps:
      - checkout
      - setup-pnpm
      - setup-vercel:
          vercel-environment: <>
          vercel-project-id: <>
          vercel-org-id: <>
          vercel-token: <>
      - run-custom-command:
          command: "payload migrate"
      - deploy-to-vercel:
          vercel-environment: <>

workflows:
  run-cms:
    jobs:
      - lint:
          name: "[cms] lint"
      - test:
          name: "[cms] test"
      - deploy-cms: &base
          name: "[cms] deploy staging"
          vercel-project-id: $VERCEL_PROJECT_ID_CMS
          vercel-org-id: $VERCEL_ORG_ID
          vercel-token: $VERCEL_TOKEN
          requires:
            - "[cms] lint"
            - "[cms] test"
          vercel-environment: preview
          filters:
            branches:
              ignore: /main/
      - deploy-cms:
          <<: *base
          name: "[cms] deploy production"
          vercel-environment: production
          filters:
            branches:
              only: /main/
