executor: node-large

parameters:
  vercel-environment:
    type: enum
    default: preview
    enum: ["preview", "production"]
  vercel-project-id:
    type: string
  vercel-org-id:
    type: string
  vercel-token:
    type: string

steps:
  - checkout
  - setup-pnpm
  - setup-vercel:
      vercel-environment: <>
      vercel-project-id: <>
      vercel-org-id: <>
      vercel-token: <>
  - deploy-to-vercel:
      vercel-environment: <>
