version: 2.1

setup: true

parameters:
  run-shared:
    type: boolean
    default: false
  run-cms:
    type: boolean
    default: false
  run-landing:
    type: boolean
    default: false
  run-app:
    type: boolean
    default: false
  run-docs:
    type: boolean
    default: false
  run-contracts:
    type: boolean
    default: false

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  circleci-cli: circleci/circleci-cli@0.1.9
  continuation: circleci/continuation@1.0.0

jobs:
  setup:
    executor: path-filtering/default
    steps:
      - checkout
      - circleci-cli/install
      - run:
          name: Generate shared configuration
          command: circleci config pack .circleci/shared >> .circleci/shared-config.yml
      - path-filtering/set-parameters:
          base-revision: << pipeline.git.base_revision >>
          mapping: |
            .* run-shared true .circleci/shared-config.yml
            (apps\/app|packages)\/.* run-app true .circleci/app/config.yml
            (apps\/cms|packages)\/.* run-cms true .circleci/cms/config.yml
            (apps\/landing|packages)\/.* run-landing true .circleci/landing/config.yml
            (apps\/docs|packages)\/.* run-docs true .circleci/docs/config.yml
            (apps\/contracts|packages\/eslint-config|packages\/typescript-config|packages\/graphql-client-nextjs)\/.* run-contracts true .circleci/contracts/config.yml
      - path-filtering/generate-config:
          default-config: .circleci/noop.yml
      - run:
          name: Validate config
          command: circleci config validate /tmp/generated-config.yml
      - continuation/continue:
          configuration_path: /tmp/generated-config.yml

workflows:
  setup:
    jobs:
      - setup
