version: 2.1

jobs:
  noop:
    docker:
      - image: cimg/base:stable
    steps:
      - run: echo "No updates have been made. Deployments skipped."

workflows:
  noop:
    jobs:
      - noop
