@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .title-1 {
    @apply text-5xl font-semibold;
  }

  .title-2 {
    @apply text-4xl font-medium;
  }

  .title-3 {
    @apply text-2xl font-medium;
  }

  .title-4 {
    @apply text-lg font-semibold
  }

  .title-5 {
    @apply text-base font-semibold
  }

  .link,
  .link-1 {
    @apply font-medium opacity-60 transition duration-200 hover:opacity-100;
  }

  .link-2 {
    @apply font-medium opacity-100 transition duration-200 hover:opacity-60;
  }

  .label {
    @apply inline-block text-xs leading-relaxed text-light font-normal;
  }

  .label + input,
  .label + .input,
  .label + .input-default,
  .label + textarea,
  .label + .textarea {
    @apply mt-1;
  }

  .input-default {
    @apply text-default border-default bg-default rounded-default m-0 flex w-full justify-start border px-4 py-3 text-left outline-0 ring-0 focus:ring-0 placeholder:text-neutral-400 focus:border-neutral-400 dark:focus:border-neutral-500;
  }

  .input-readonly {
    @apply cursor-default border-default bg-opacity-50
  }

  .textarea {
    @apply input-default min-h-[8rem] items-start;
  }

  .label-error {
    @apply text-xs text-error;
  }

  .error .input-default {
    @apply border-error dark:border-error;
  }

  .error .label {
    @apply text-error;
  }

  .bg-default,
  .bg-default-0 {
    @apply bg-white dark:bg-[#101010];
  }

  .bg-default-1 {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }

  .bg-default-2 {
    @apply bg-zinc-100 dark:bg-zinc-900;
  }

  .text-default {
    @apply text-neutral-900 dark:text-neutral-50;
  }

  .text-inverse {
    @apply text-neutral-50 dark:text-neutral-900;
  }

  .text-light {
    @apply text-neutral-500 dark:text-neutral-400;
  }

  .text-lighter {
    @apply text-neutral-400 dark:text-neutral-500
  }

  .rounded-default {
    @apply rounded-xl;
  }

  .border-default {
    @apply border-zinc-200 dark:border-zinc-800;
  }

  .divide-default {
    @apply divide-zinc-200 dark:divide-zinc-800;
  }

  .shadow-default {
    @apply shadow-xl;
  }
}


/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
