description: "Build and deploy to Vercel"
parameters:
  vercel-environment:
    type: enum
    default: preview
    enum: ["preview", "production"]
steps:
  - run:
      name: Build Project Artifacts
      command: |
        opts=(--token=$VERCEL_TOKEN)
        if [[ <> == "production" ]]; then
          opts+=(--prod)
        fi
        vercel build "${opts[@]}"
  - run:
      name: Deploy Project Artifacts to Vercel
      command: |
        opts=(--prebuilt --token=$VERCEL_TOKEN)
        if [[ <> == "production" ]]; then
          opts+=(--prod)
        fi
        vercel deploy "${opts[@]}"
