description: "Build and deploy to Vercel"
parameters:
  vercel-environment:
    type: string
    default: preview
steps:
  - run:
      name: Build project artifacts
      command: |
        . "$BASH_ENV"
        echo "Environment: <<parameters.vercel-environment>>"
        opts=(--token=$VERCEL_TOKEN)
        if [[ "<<parameters.vercel-environment>>" == "production" ]]; then
          opts+=(--prod)
        fi
        vercel build "${opts[@]}"
  - run:
      name: Deploy project artifacts to Vercel
      command: |
        . "$BASH_ENV"
        echo "Environment: <<parameters.vercel-environment>>"
        opts=(--prebuilt --token=$VERCEL_TOKEN)
        if [[ "<<parameters.vercel-environment>>" == "production" ]]; then
          opts+=(--prod)
        fi
        vercel deploy "${opts[@]}"
