description: "Setup Vercel CLI and environment"
parameters:
  vercel-environment:
    type: enum
    default: preview
    enum: ["preview", "production"]
  vercel-project-id:
    type: string
  vercel-org-id:
    type: string
  vercel-token:
    type: string
steps:
  - run:
      name: Setup Environment Variables
      command: |
        echo 'export VERCEL_ORG_ID="'<>'"' >> "$BASH_ENV"
        echo 'export VERCEL_PROJECT_ID="'<>'"' >> "$BASH_ENV"
        echo 'export VERCEL_TOKEN="'<>'"' >> "$BASH_ENV"
        echo 'export TURBO_TEAM="'$VERCEL_ORG_ID'"' >> "$BASH_ENV"
        echo 'export TURBO_TOKEN="'$VERCEL_TOKEN'"' >> "$BASH_ENV"
  - run:
      name: Install Vercel CLI
      command: npm install --global vercel@latest
  - run:
      name: Pull Vercel Environment Information
      command: vercel pull --yes --environment=<> --token=$VERCEL_TOKEN
